.gif {
    margin-top: 0px;
    margin-left: 0px;
    width: 150px;
    height: 80px;
}

.gif2 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}

.gif3 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}

.gif4 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}

.gif5 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}

.gif6 {
    margin-top: 0px;
    margin-left: 10px;
    width: 150px;
    height: 80px;
}

.background {
    width: 1450px;
    height: 920px;
    margin: -10px 0px 0px -20px;
    position: relative; /* Agregado para posicionar libros encima */
    z-index: 1; /* Coloca la imagen al fondo */
}

/* Conectar el Front end con la base de datos */
.catalog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    position: absolute; /* Coloca los libros encima del fondo */
    top: 550px; /* Ajusta según el diseño */
    left: 50px; /* Ajusta según el diseño */
    z-index: 2; /* Coloca los libros encima del fondo */
}


.book-card {
    font-size: 15px;
    width: 100px;
    height: 230px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(158, 102, 67, 0.9); /* Color semitransparente */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 3; /* Asegura que las tarjetas estén encima */
}


.book-cover {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
